{% extends 'base.html.twig' %}

{% block title %}Page de
	{{user.email}}
{% endblock %}

{% block body %}
	<h1>Liste de tous les utilisateurs</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Role</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Téléphone</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				{% if user.collaborateurneweb == false %}
					<tr>
						<td>{{ user.id }}</td>
						<td>{{ user.email }}</td>
						<td>
							{% for role in user.roles %}
								{{role}}
							{% endfor %}
						</td>
						<td>{{user.nom}}</td>
						<td>{{user.prenom}}</td>
						<td>{{user.telephone}}</td>
						<td>
							<a href="{{ path('app_account_index', {'id': user.id}) }}">Voir le profil</a>
							{% for role in app.user.roles %}
								{% if app.user and role == 'ROLE_ADMIN' %}
									<a href="{{ path('app_utilisateur_edit', {'id': user.id}) }}">edit</a>

								{% endif %}
							{% endfor %}

						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
